.header{
    display: flex;
    height: 6vh;
    top:0;
    left: 0;
    right: 0;
    position: fixed;
    padding: 2rem 9%;
    z-index: 1000;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0 ,.1);
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
}
.header .logo{
    font-size: clamp(1rem,4vw,2.5rem);
    color: var(--black);
    font-weight: bold;
}
.header .logo i{
    color: var(--green);
    margin-right: 0.5rem;
}
.header .navbar a{
    font-size: clamp(0.7rem,4vw,1rem);
    color: var(--light-color);
    margin-left: 2rem;
    font-weight: bold;
}
.header .navbar a:hover{
    color: var(--green);
}
#menu-btn{
    font-size: clamp(1rem,4vw,2.5rem);;
    border-radius: .5rem;
    background: #fff;
    color: var(--green);
    padding: 1rem 1.5rem;
    cursor: pointer;
    display: none;
}

@media (max-width:768px){
    #menu-btn{
        display: initial;
    }
    .header .navbar{ 
        position: absolute;
        left: 0;
        right: 0;
        top:90%;
        border-radius: .5rem;
        box-shadow: var(--box-shadow);
        width: 100%;
        height: 95vh;
        text-align: center;
        border: var(--border);
        transform: scale(0);
        opacity: 0;
        transform-origin: top right;
        transition: all 3s ease-out;
    }
    .header .navbar.active{
        transform: scale(1);
        opacity: 1;
        transition: ease-out;
    }
    .header .navbar a{
        font-size: clamp(1.5rem,4vw,2rem);
        padding: 0.5rem;
        display: block;
        margin: 2.5rem;
        box-shadow: .5rem .4rem 0 rgba(22, 160, 133, .2);
        border-radius: 2rem;

    }
}